<template>
  <v-card v-if="newInfo != undefined">
    <v-card-title primary-title>
      <div>
        <h3 v-if="info != undefined" class="headline mb-0">{{info.title}}</h3>
        <v-text-field v-model="newInfo.title" label="請輸入新的書名"></v-text-field>
      </div>
    </v-card-title>
    <v-card-text class="grey lighten-3">
      <table>
        <tr>
          <th>ID：</th>
          <th>{{info.ID}}</th>
        </tr>
        <tr>
          <th>ISBN/ID：</th>
          <th>{{info.isbnID}}</th>
          <th>
            <v-text-field
              name="updateIsbn"
              v-validate="'numeric'"
              v-model="newInfo.isbnID"
              label="請輸入新的ISBN/ID"
            ></v-text-field>
            <span v-show="errors.has('updateIsbn')" class="validationErrMsg">ISBN/ID必須由數字組成</span>
          </th>
        </tr>
        <tr>
          <th>展示作者：</th>
          <th>{{info.displayedAuthors}}</th>
          <th>
            <v-text-field v-model="newInfo.displayedAuthors" label="請輸入新的展示作者"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>裝訂規格：</th>
          <th>{{info.bookBinding}}</th>
          <th>
            <v-text-field v-model="newInfo.bookBinding" label="請輸入新的裝訂規格"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>頁數：</th>
          <th>{{info.pageNum}}</th>
          <th>
            <v-text-field
              name="updatePageNum"
              v-validate="'numeric'"
              type="number"
              v-model.number="newInfo.pageNum"
              label="請輸入新的頁數"
            ></v-text-field>
            <span v-show="errors.has('updatePageNum')" class="validationErrMsg">頁數必須是正整數</span>
          </th>
        </tr>
        <tr>
          <th>出版商：</th>
          <th>{{info.publisher}}</th>
          <th>
            <v-text-field v-model="newInfo.publisher" label="請輸入新的出版商"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>出版日期：</th>
          <th>{{info.publishDate}}</th>
          <th>
            <v-menu
              ref="menuPublishDate"
              v-model="items.publishDate.menu"
              :close-on-content-click="false"
              :return-value.sync="newInfo.publishDate"
              full-width
            >
              <v-text-field
                slot="activator"
                v-model="newInfo.publishDate"
                label="請輸入新的出版日期"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="newInfo.publishDate" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="items.publishDate.menu = false">取消</v-btn>
                <v-btn
                  flat
                  color="primary"
                  @click="$refs.menuPublishDate.save(newInfo.publishDate)"
                >確認</v-btn>
              </v-date-picker>
            </v-menu>
          </th>
        </tr>
        <tr>
          <th>類別：</th>
          <th>{{info.class}}</th>
          <th>
            <v-text-field v-model="newInfo.class" label="請輸入新的類別"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>捐贈日期：</th>
          <th>{{info.donateDate}}</th>
          <th>
            <v-menu
              ref="menuDonateDate"
              v-model="items.donateDate.menu"
              :close-on-content-click="false"
              :return-value.sync="newInfo.donateDate"
              full-width
            >
              <v-text-field
                slot="activator"
                v-model="newInfo.donateDate"
                label="請輸入新的捐贈日期"
                prepend-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="newInfo.donateDate" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="items.donateDate.menu = false">取消</v-btn>
                <v-btn
                  flat
                  color="primary"
                  @click="$refs.menuDonateDate.save(newInfo.donateDate)"
                >確認</v-btn>
              </v-date-picker>
            </v-menu>
          </th>
        </tr>
        <tr>
          <th>閱讀次數：</th>
          <th>{{info.readTimes}}</th>
          <th>
            <v-text-field
              name="updateReadTimes"
              v-validate="'numeric'"
              type="number"
              v-model.number="newInfo.readTimes"
              label="請輸入新的閱讀次數"
            ></v-text-field>
            <span v-show="errors.has('updateReadTimes')" class="validationErrMsg">閱讀次數必須是正整數</span>
          </th>
        </tr>
        <tr>
          <th>狀態：</th>
          <th>{{info.status}}</th>
          <th>
            <v-text-field v-model="newInfo.status" label="請輸入新的狀態"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>價格：</th>
          <th>{{info.price}}</th>
          <th>
            <v-text-field
              name="updatePrice"
              v-validate="'numeric'"
              type="number"
              v-model.number="newInfo.price"
              label="請輸入新的價格"
            ></v-text-field>
            <span v-show="errors.has('updatePrice')" class="validationErrMsg">價格必須是正整數</span>
          </th>
        </tr>
        <tr>
          <th>標籤：</th>
          <th v-for="tag in info.tags" :key="tag.id">{{tag.name}}</th>
        </tr>
        <tr>
          <th>作者：</th>
          <th v-for="author in info.authors" :key="author.id">{{author.name}}</th>
        </tr>
        <tr>
          <th>捐贈人：</th>
          <th v-for="donor in info.donors" :key="donor.ID">{{donor.Name}}</th>
        </tr>
      </table>
    </v-card-text>
    <v-card-actions>
      <v-btn flat @click="submitWithValidate">確認</v-btn>
      <v-btn flat @click="cancelAction">取消</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "BaseBooksCreateUpdateView",
  methods: {
    submitWithValidate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.postProcessDateFormat();
          this.submitAction();
          return;
        }
        alert("請修正錯誤的格式");
      });
    },
    postProcessDateFormat() {
      this.newInfo.publishDate = new Date(this.newInfo.publishDate + "GMT+0").toISOString()
      this.newInfo.donateDate = new Date(this.newInfo.donateDate + "GMT+0").toISOString()
    },
    submitAction() {
      //An abstract method. Child component should implement this function.
    },
    cancelAction() {
      //An abstract method. Child component should implement this function.
    }
  },
  data() {
    return {
      info: undefined, //abstract variable. Child component should contain this variable.
      newInfo: undefined, //abstract variable. Child component should contain this variable.
      items: {
        CreatedAt: {
          menu: false
        },
        UpdatedAt: {
          menu: false
        },
        donateDate: {
          menu: false
        },
        publishDate: {
          menu: false
        }
      }
    };
  }
};
</script>

<style scoped>
th {
  font-weight: normal;
  padding-right: 50px;
}
.validationErrMsg {
  color: red;
}
</style>