<template>
  <v-container grid-list-xl>
    <v-btn large color="#00CC99" :to="{ name: 'CreateBookView'}">新增書目</v-btn>
    <v-data-table
      :headers="tableHeaders"
      :items="books"
      :pagination.sync="pagination"
      :total-items="totalItems"
      :rows-per-page-items="rowsPerPageItems"
      item-key="ID"
      @update:pagination="pageChangedCallback(pagination.page)"
    >
      <template v-if="renderTable" v-slot:items="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.title }}</td>
          <td class="text-xs-right">{{ props.item.authors }}</td>
          <td class="text-xs-right">{{ props.item.publisher }}</td>
          <td class="text-xs-right">{{ props.item.status }}</td>
        </tr>
      </template>
      <template v-slot:expand="props">
        <v-card flat>
          <v-btn flat :to="{ name: 'DetailedBookInfoView', params: { id: props.item.ID }}">詳細資料</v-btn>
          <v-btn flat :to="{ name: 'UpdateBookView', params: { id: props.item.ID }}">編輯</v-btn>
          <DeleteDialogView
            :ID="props.item.ID"
            :title="props.item.title"
            :deleteAction="deleteAction"
          />
        </v-card>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import DeleteDialogView from "../DeleteDialogView.vue";

export default {
  name: "BooksListView",
  components: {
    DeleteDialogView
  },
  methods: {
    deleteAction(id) {
      this.$http
        .delete(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/books/${id}`
        )
        .then(() => {
          this.$router.go();
        });
    },
    pageChangedCallback(newPage) {
      this.renderTable = false;
      this.queryPage(newPage);
    },
    queryPage(page) {
      this.$http
        .get(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/books`,
          {
            params: {
              records: this.pagination.rowsPerPage,
              starts: this.pagination.rowsPerPage * (page - 1)
            }
          }
        )
        .then(response => {
          this.books = response.body["books"];
          this.totalItems = response.body["total"];
          this.renderTable = true;
        });
    }
  },
  created: function() {
    this.queryPage(1);
  },
  data() {
    return {
      renderTable: false,
      totalItems: 0,
      pagination: {
        rowsPerPage: 10,
        sortBy: "ID"
      },
      rowsPerPageItems: [5, 10, 20],
      books: [],
      tableHeaders: [
        { text: "書名", align: "left", value: "title" },
        { text: "作者", align: "center", value: "authors" },
        { text: "出版商", align: "center", value: "publisher" },
        { text: "狀態", align: "center", value: "status" }
      ]
    };
  }
};
</script>


<style scoped>
th {
  font-weight: normal;
}
</style>