<template>
  <v-card>
    <v-card-title primary-title>
      <div>
        <h3 class="headline mb-0">{{info.title}}</h3>
      </div>
    </v-card-title>
    <v-card-text class="grey lighten-3">
      <table v-show="renderView">
        <tr>
          <th>ID：</th>
          <th>{{info.ID}}</th>
        </tr>
        <tr>
          <th>創建時間：</th>
          <th>{{info.CreatedAt}}</th>
        </tr>
        <tr>
          <th>更新時間：</th>
          <th>{{info.UpdatedAt}}</th>
        </tr>
        <tr>
          <th>ISBN：</th>
          <th>{{info.isbnID}}</th>
        </tr>
        <tr>
          <th>展示作者：</th>
          <th>{{info.displayedAuthors}}</th>
        </tr>
        <tr>
          <th>精裝/平裝：</th>
          <th>{{info.bookBinding}}</th>
        </tr>
        <tr>
          <th>頁數：</th>
          <th>{{info.pageNum}}</th>
        </tr>
        <tr>
          <th>出版商：</th>
          <th>{{info.publisher}}</th>
        </tr>
        <tr>
          <th>出版日期：</th>
          <th>{{info.publishDate}}</th>
        </tr>
        <tr>
          <th>類別：</th>
          <th>{{info.class}}</th>
        </tr>
        <tr>
          <th>捐贈日期：</th>
          <th>{{info.donateDate}}</th>
        </tr>
        <tr>
          <th>閱讀次數：</th>
          <th>{{info.readTimes}}</th>
        </tr>
        <tr>
          <th>狀態：</th>
          <th>{{info.status}}</th>
        </tr>
        <tr>
          <th>價格：</th>
          <th>{{info.price}}</th>
        </tr>
        <tr>
          <th>標籤：</th>
          <th v-for="tag in info.tags" :key="tag.id">{{tag.name}}</th>
        </tr>
        <tr>
          <th>作者：</th>
          <th v-for="author in info.authors" :key="author.id"><router-link :to="{ name: 'DetailedAuthorInfoView', params: { id: author.id }}">{{author.name}}</router-link></th>
        </tr>
        <tr>
          <th>捐贈人：</th>
          <th v-for="donor in info.donors" :key="donor.ID"><router-link :to="{ name: 'DetailedDonorInfoView', params: { id: donor.ID }}">{{donor.Name}}</router-link></th>
        </tr>
      </table>
    </v-card-text>
    <v-card-actions>
      <v-btn flat @click="$router.push({ path: `/books` })">回書目列表</v-btn>
      <v-btn flat :to="{ name: 'UpdateBookView', params: { id: ID }}">編輯</v-btn>
      <DeleteDialogView
        :ID="info.ID"
        :title="info.title"
        :deleteAction="deleteAction"
      />
    </v-card-actions>
  </v-card>
</template>

<script>
import DeleteDialogView from "../DeleteDialogView.vue";

export default {
  name: "DeatiledBookInfoView",
  components: {
    DeleteDialogView
  },
  methods: {
    deleteAction(id) {
      this.$http
        .delete(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/books/${id}`
        )
        .then(() => {
          this.$router.push({ path: `/books` });
        });
    },
    queryPage() {
      this.$http
        .get(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/books/${this.ID}`
        )
        .then(response => {
          this.info = response.body;
          this.renderView = true;
        });
    }
  },
  created() {
    this.ID = this.$route.params.id;
    this.queryPage();
  },
  data() {
    return {
      renderView: false,
      info: {}
    };
  }
};
</script>

<style scoped>
th {
  font-weight: normal;
}
</style>