<template>
  <v-card v-if="newInfo != undefined">
    <v-card-title primary-title>
      <div>
        <h3 v-if="info != undefined" class="headline mb-0">{{info.Name}}</h3>
        <v-text-field v-model="newInfo.Name" label="請輸入新的捐贈者姓名"></v-text-field>
      </div>
    </v-card-title>
    <v-card-text class="grey lighten-3">
      <table>
        <tr>
          <th>ID：</th>
          <th>{{info.ID}}</th>
        </tr>
        <tr>
          <th>身份：</th>
          <th>{{info.Identity}}</th>
          <th>
            <v-text-field v-model="newInfo.Identity" label="請輸入新的身份"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>國籍：</th>
          <th>{{info.Country}}</th>
          <th>
            <v-text-field v-model="newInfo.Country" label="請輸入新的國籍"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>捐贈書目：</th>
          <th v-for="book in info.Books" :key="book.ID">{{book.title}}</th>
        </tr>
      </table>
    </v-card-text>
    <v-card-actions>
      <v-btn flat @click="submitWithValidate">確認</v-btn>
      <v-btn flat @click="cancelAction">取消</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "BaseDonorCreateUpdateView",
  methods: {
    submitWithValidate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.submitAction();
          return;
        }
        alert("請修正錯誤的格式");
      });
    },
    submitAction() {
      //An abstract method. Child component should implement this function.
    },
    cancelAction() {
      //An abstract method. Child component should implement this function.
    }
  },
  data() {
    return {
      info: undefined, //abstract variable. Child component should contain this variable.
      newInfo: undefined //abstract variable. Child component should contain this variable.
    };
  }
};
</script>

<style scoped>
th {
  font-weight: normal;
  padding-right: 50px;
}
.validationErrMsg {
  color: red;
}
</style>