<template>
  <v-card>
    <v-card-title primary-title>
      <div>
        <h3 class="headline mb-0">{{info.Name}}</h3>
      </div>
    </v-card-title>
    <v-card-text class="grey lighten-3">
      <table v-show="renderView">
        <tr>
          <th>ID：</th>
          <th>{{info.ID}}</th>
        </tr>
        <tr>
          <th>創建時間：</th>
          <th>{{info.CreatedAt}}</th>
        </tr>
        <tr>
          <th>更新時間：</th>
          <th>{{info.UpdatedAt}}</th>
        </tr>
        <tr>
          <th>國籍：</th>
          <th>{{info.Country}}</th>
        </tr>
        <tr>
          <th>身份：</th>
          <th>{{info.Identity}}</th>
        </tr>
        <tr>
          <th>捐贈書目：</th>
          <th v-for="book in info.Books" :key="book.id"><router-link :to="{ name: 'DetailedBookInfoView', params: { id: book.ID }}">{{book.title}}</router-link></th>
        </tr>
      </table>
    </v-card-text>
    <v-card-actions>
      <v-btn flat @click="$router.push({ path: `/donors` })">回捐贈者列表</v-btn>
      <v-btn flat :to="{ name: 'UpdateDonorView', params: { id: ID }}">編輯</v-btn>
      <DeleteDialogView
        :ID="info.ID"
        :title="info.Name"
        :deleteAction="deleteAction"
      />
    </v-card-actions>
  </v-card>
</template>

<script>
import DeleteDialogView from "../DeleteDialogView.vue";

export default {
  name: "DetailedDonorInfoView",
  components: {
    DeleteDialogView
  },
  methods: {
    deleteAction(id) {
      this.$http
        .delete(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/donors/${id}`
        )
        .then(() => {
          this.$router.push({ path: `/donors` });
        });
    },
    queryPage() {
      this.$http
        .get(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/donors/${this.ID}`
        )
        .then(response => {
          this.info = response.body;
          this.renderView = true;
        });
    }
  },
  created() {
    this.ID = this.$route.params.id;
    this.queryPage();
  },
  data() {
    return {
      renderView: false,
      info: {}
    };
  }
};
</script>

<style scoped>
th {
  font-weight: normal;
}
</style>