<template>
  <v-dialog v-model="deleteDialog" width="500">
    <v-btn slot="activator" color="red lighten-2" flat>刪除</v-btn>
    <v-card>
      <v-card-text>確定要刪除"{{title}}"？</v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="red" flat @click="deleteAction(ID)">確定</v-btn>
        <v-btn flat @click="deleteDialog = false">取消</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "DeleteDialogView",
  props: {
    title: String,
    ID: Number,
    deleteAction: Function
  },
  data() {
    return {
      deleteDialog: false
    };
  }
};
</script>
