<template>
  <v-container grid-list-xl>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3>Lightbox攝影圖書室資料庫管理系統</h3>
        </div>
      </v-card-title>
      <v-card-text>
        目前書目總數：{{(totalBooks === undefined) ? "無法順利查詢書目總數" : totalBooks}}
        <br>
        目前作者總數：{{(totalAuthors === undefined) ? "無法順利查詢作者總數" : totalAuthors}}
        <br>
        目前捐贈者總數：{{(totalDonors === undefined) ? "無法順利查詢捐贈者總數" : totalDonors}}
      </v-card-text>
      <v-card-actions>
        <v-btn flat id="btn_to_books" color="#5F9EA0" :to="{ path: '/books'}">書目列表</v-btn>
        <v-btn flat id="btn_to_authors" color="#5F9EA0" :to="{ path: '/authors'}">作者列表</v-btn>
        <v-btn flat id="btn_to_donors" color="#5F9EA0" :to="{ path: '/donors'}">捐贈者列表</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
export default {
  name: "HomeView",
  methods: {
    queryTotalBooks() {
      this.$http
        .get(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/books`,
          {
            params: {
              records: 1,
              starts: 1
            }
          }
        )
        .then(response => {
          this.totalBooks = response.body["total"];
        })
        .catch(e => {
          this.totalBooks = undefined
        });
    },
    queryTotalAuthors() {
      this.$http
        .get(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/authors`,
          {
            params: {
              records: 1,
              starts: 1
            }
          }
        )
        .then(response => {
          this.totalAuthors = response.body["total"];
        })
        .catch(e => {
          this.totalAuthors = undefined
        });
    },
    queryTotalDonors() {
      this.$http
        .get(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/donors`,
          {
            params: {
              records: 1,
              starts: 1
            }
          }
        )
        .then(response => {
          this.totalDonors = response.body["total"];
        })
        .catch(e => {
          this.totalDonors = undefined
        });
    }
  },
  created() {
    this.queryTotalBooks();
    this.queryTotalAuthors();
    this.queryTotalDonors();
  },
  data() {
    return {
      totalBooks: 0,
      totalAuthors: 0,
      totalDonors: 0
    };
  }
};
</script>

