<template>
  <nav>
    <v-toolbar flat color="#5F9EA0">
      <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>{{barTitle}}</v-toolbar-title>
    </v-toolbar>
    <v-navigation-drawer v-model="drawer" app disable-resize-watcher>
      <v-list>
        <v-list-tile @click="drawer = false">
          <v-list-tile-action>
            <v-icon>arrow_back</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile
          v-for="item in items"
          :key="item.title"
          @click="oncClick(item.title, item.path)"
        >
          <v-list-tile-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>{{ item.title }}</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </nav>
</template>

<script>
export default {
  name: "NavigationBar",
  methods: {
    oncClick(title, path) {
      this.barTitle = title;
      this.$router.push({ path: path });
      this.drawer = false;
    }
  },
  data() {
    return {
      barTitle: "首頁",
      drawer: false,
      items: [
        {
          title: "首頁",
          icon: "home",
          path: `/`
        },
        {
          title: "書目列表",
          icon: "books",
          path: `/books`
        },
        {
          title: "作者列表",
          icon: "people",
          path: `/authors`
        },
        {
          title: "捐贈者列表",
          icon: "favorite",
          path: `/donors`
        }
      ]
    };
  }
};
</script>
