<template>
  <div id="app">
    <v-app>
      <NavigationBar/>
      <router-view/>
    </v-app>
  </div>
</template>

<script>
import NavigationBar from "./components/NavigationBar.vue";

export default {
  name: "app",
  components: {
    NavigationBar
  },
};
</script>