<template>
  <v-container grid-list-xl>
    <v-btn large color="#00CC99" :to="{ name: 'CreateAuthorView'}">新增作者</v-btn>
    <v-data-table
      :headers="tableHeaders"
      :items="authors"
      :pagination.sync="pagination"
      :total-items="totalItems"
      :rows-per-page-items="rowsPerPageItems"
      item-key="ID"
      @update:pagination="pageChangedCallback(pagination.page)"
    >
      <template v-if="renderTable" v-slot:items="props">
        <tr @click="props.expanded = !props.expanded">
          <td>{{ props.item.Name }}</td>
          <td class="text-xs-right">{{ props.item.Country }}</td>
          <td class="text-xs-right">{{ props.item.Notes }}</td>
        </tr>
      </template>
      <template v-slot:expand="props">
        <v-card flat>
          <v-btn flat :to="{ name: 'DetailedAuthorInfoView', params: { id: props.item.ID }}">詳細資料</v-btn>
          <v-btn flat :to="{ name: 'UpdateBookView', params: { id: props.item.ID }}">編輯</v-btn>
          <DeleteDialogView
            :ID="props.item.ID"
            :title="props.item.Name"
            :deleteAction="deleteAction"
          />
        </v-card>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import DeleteDialogView from "../DeleteDialogView.vue";

export default {
  name: "AuthorListView",
  components: {
    DeleteDialogView
  },
  methods: {
    deleteAction(id) {
      this.$http
        .delete(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/authors/${id}`
        )
        .then(() => {
          this.$router.go();
        });
    },
    pageChangedCallback(newPage) {
      this.renderTable = false;
      this.queryPage(newPage);
    },
    queryPage(page) {
      this.$http
        .get(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/authors`,
          {
            params: {
              records: this.pagination.rowsPerPage,
              starts: this.pagination.rowsPerPage * (page - 1)
            }
          }
        )
        .then(response => {
          this.authors = response.body["authors"];
          this.totalItems = response.body["total"];
          this.renderTable = true;
        });
    }
  },
  created: function() {
    this.queryPage(1);
  },
  data() {
    return {
      renderTable: false,
      totalItems: 0,
      pagination: {
        rowsPerPage: 10,
        sortBy: "ID"
      },
      rowsPerPageItems: [5, 10, 20],
      authors: [],
      tableHeaders: [
        { text: "姓名", align: "left", value: "Name" },
        { text: "國籍", align: "center", value: "Country" },
        { text: "備註", align: "center", value: "Notes" }
      ]
    };
  }
};
</script>

<style scoped>
th {
  font-weight: normal;
}
</style>