<template>
  <v-card v-if="newAuthor != undefined">
    <v-card-title primary-title>
      <div>
        <h3 v-if="author != undefined" class="headline mb-0">{{author.Name}}</h3>
        <v-text-field name="authorName" v-model="newAuthor.Name" label="請輸入新的作者名" v-validate="'required'"></v-text-field>
        <span v-show="errors.has('authorName')" class="validationErrMsg">作者名不可為空</span>
      </div>
    </v-card-title>
    <v-card-text class="grey lighten-3">
      <table>
        <tr>
          <th>國籍：</th>
          <th v-if="author != undefined">{{author.Country}}</th>
          <th>
            <v-text-field v-model="newAuthor.Country" label="請輸入新的國籍"></v-text-field>
          </th>
        </tr>
        <tr>
          <th>備註：</th>
          <th v-if="author != undefined">{{author.Notes}}</th>
          <th>
            <v-textarea solo v-model="newAuthor.Notes" value="請輸入新的備註"></v-textarea>
          </th>
        </tr>
      </table>
    </v-card-text>
    <v-card-actions>
      <v-btn flat @click="submitWithValidate">確認</v-btn>
      <v-btn flat @click="cancelAction">取消</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "BaseAuthorCreateUpdateView",
  methods: {
    submitWithValidate() {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.submitAction();
          return;
        }
        alert("請修正錯誤的格式");
      });
    },
    submitAction() {
      //An abstract method. Child component should implement this function.
    },
    cancelAction() {
      //An abstract method. Child component should implement this function.
    }
  },
  data() {
    return {
      author: undefined, //abstract variable. Child component should contain this variable.
      newAuthor: undefined //abstract variable. Child component should contain this variable.
    };
  }
};
</script>

<style scoped>
th {
  font-weight: normal;
  padding-right: 50px;
}
.validationErrMsg {
  color: red;
}
</style>