<script>
import BaseAuthorCreateUpdateView from "./BaseAuthorCreateUpdateView.vue";

export default {
  name: "CreateAuthorView",
  extends: BaseAuthorCreateUpdateView,
  methods: {
    postAuthor() {
      this.$http
        .post(
          `http://${process.env.VUE_APP_BACKEND_HOST}:${
            process.env.VUE_APP_BACKEND_PORT
          }/authors`,
          this.newAuthor
        )
        .then(
          response => {
            this.$router.push({ path: `/authors/${response.body.ID}` });
          },
          error => {
            alert(error.body.error);
          }
        );
    },
    submitAction() {
        this.postAuthor();
    },
    cancelAction() {
        this.$router.push({ path: `/authors` });
    }
  },
  created() {
    this.newAuthor = {};
  },
  date() {
    return {
      author: undefined,
      newAuthor: undefined
    };
  }
};
</script>

<style>
</style>
